<section class="section-weDevelop">
<div class="container what">
  <h2>We Develop</h2>
  <div class="row row-margin weDevelop">
<div class="col s12 m4 l3">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <i class="medium material-icons black-text">phone_android</i>
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <p class="black-text weDevelop-info mb-apps-info">Mobile Apps & Games</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m4 l3">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <i class="medium material-icons black-text icon-space">developer_board</i>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class="black-text weDevelop-info">Web, BI / AI, <br/>Crypto, AWS</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m4 l3">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <i class="medium material-icons black-text">developer_mode</i>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class="black-text weDevelop-info">UI / UX / CAD <br/>Designs</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m4 l3">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <i class="medium material-icons">router</i>
        <!--<i class="medium material-icons black-text">phone_android</i>-->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class="black-text weDevelop-info">VR/AR, IOT & <br/>Wearables</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col s12 m4 l3">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <i class="medium material-icons black-text">find_in_page</i>    
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class="black-text weDevelop-info">SEO & Digital <br/>Marketing</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>