<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col s12 m12 l12 collapse what">
        <h2 class="center">CLOUD COMPUTING</h2><hr>
        <p class="header-p center">Drive innovation & lower the costs with agile & scalable cloud solutions</p>
        <div class="row">
          <div class="col s12 m12 l12">
            <ul class="collapsible popout ">
              <li>
                    <div class="collapsible-header">
                      <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>STRATEGY & ASSESSMENT</b></h5><hr>
                          <p class="header-p">Cloud Consulting & Planning</p>
                        </div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2">
                          <img src="assets/images/icon/STRATEGY-ASSESSMENT.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">NeoSOFT help you gauge your cloud-readiness, evaluate application suitability & your existing legacy systems, augment security and compliance, maximize ROI and build a cloud road-map that will enable your organization to migrate to the cloud seamlessly.</p><br>
                         <div class="row">
                            <div class="col l6">
                              <ol>
                                <li>Cloud-Readiness </li>
                                <li>Platform Assessment</li>
                                <li>Business Needs Prioritization</li>
                            <li>Evaluating ROI & TCO</li>
                            <li>Cost Optimization</li>
                        <!--	</ol>
                        </div>
                      <div class="col l6">
                            <ol>-->
                            <li>Transformation Roadmap</li>
                            <li>Security & Rist Assessment</li>
                            <li>Integration Strategy</li>
                            <li>Legacy Infrastructure Evaluation</li>
                              </ol>
                        </div>
                      </div>
                        </div>
                      </div>
                    </div>
              </li><br>
                <li>
                   <div class="collapsible-header">
                     <div class="row">
                       <div class="center col s12 m12 l12">
                         <h5><b>CLOUD ENABLEMENT</b></h5>
                         <p class="header-p">Cloud Development & Migration Services - Build, Deploy & Migrate</p>
                       </div>
                     </div>
                  </div>
                  <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2">
                          <img src="assets/images/icon/CLOUD-ENABLEMENT.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">NeoSOFT offers its vast experience in Serverless Technologies, DevOps Practices as well as in building highly scalable cloud-native applications across multiple public / private / hybrid / community cloud platforms including AWS, Microsoft Azure, Google Cloud, vCloud, OpenStack, CloudStack, etc.</p>
                          <div class="row">
                            <div class="col s12 m12 l12">
                              <ol>
                                <li>Infrastructure as a Service (IaaS) - VM Provisioning, Storage, Failover / Backup, Elastic Scalability, Database, Application Server, etc.</li>
                                <li>Platform as a Service (PaaS) - Multi-Tenancy, Client Libraries, Components, Workflows, Message Services, Cache, Authentication / Authorization, Data Services, etc.</li>
                                <li>Software as a Service (SaaS) - Packaged Applications, Custom Applications 1…n</li>
                              </ol>
                            </div>
                          </div>
                    </div>
                      </div>
                    </div>
                </li><br>
                <li>
                    <div class="collapsible-header">
                  <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>LIFECYCLE MANAGEMENT</b></h5>
                          <p class="header-p">Cloud Management Services - Run, Monitor, Tune, Metering, Analytics & Administration</p>
                        </div>
                      </div>
                  </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2">
                          <img src="assets/images/icon/LIFECYCLE-MANAGEMENT.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <div class="row">
                            <div class="col l12">
                              <ol>
                                <li>Application Management - Monitoring & tuning applications to get high availability, better response time & to optimize resources utilization.</li>
                                <li>Security - Monitoring & managing security concerns covering different aspects like Data Security, Access Control & Server / OS Security.</li>
                                <li>Platform / Infrastructure Management - By deploying different automated set of tools for monitoring, optimizing, backups, disaster recovery, upgrades / patches, etc.</li>
                              </ol>
                            </div>
                          </div>
                         </div>
                        </div>
                      </div>
                  </li><br>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
