<section id="home">
  <div class="carousel carousel-slider" data-indicators="true">
    <div class="carousel-fixed-item center middle-indicator">
      <div class="left">
        <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
      </div>
      <div class="right">
        <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
      </div>
    </div>
   
    <div class="carousel-item valign-wrapper amber white-text" href="#one!">
      <div class="caption container">
        <div class="row">
          <div class="col s12 m6 l6 Slider-text Slider-top1">
            <h4 class="white-text">TOP TALENT GURANTEED</h4>
            <h5 class="description">We hire the best talent in the industry, only top 5% of extremely talented people make it to Kaalpanik Technologies
            </h5>
            <h5 class="description">We have the best problem solver's, higly skilled and passionate.</h5>
            <h5 class="description">Out of 500 appplications only the best 5% qualify. Our screening process is really tough.</h5>
         
          </div>
          <div class="center col s12 m6 l6">
            <img src="assets/images/Site-Merch_Free-Tier_Hero.png" class="responsive-img Slider2-img">
          </div>
        </div>
       <!--
        <div class="row weDevelop">
            
        <div class="slider-btn">
          <button class="card btn-card">REQUEST A QUOTE</button>
          <button class="card btn-card1">WATCH VIDEO</button>
        </div>-->
      </div>
    </div>

    <div class="carousel-item valign-wrapper red white-text" href="#two!">
      <div class="caption carousel-inner-div container">
        <div class="row">
          <div class="col s12 m6 l6 Slider-text Slider-top">
            <h4 class="white-text">Think Big. We make IT, Possible!</h4>
            <h5 class="description">Being a top-notch Custom software development company, our services are designed to take your business to the next level, reducing the gap between you and the heights of success you wish to achieve.
            </h5>
          </div>
          <div class="center col s12 m6 l6">
            <img src="assets/images/Site-Merch_What-is-AWS_Hero.png" class="responsive-img Slider1-img">
          </div>
        </div>
      </div>
    </div>
  
    <div class="carousel-item valign-wrapper green white-text" href="#three!">
      <div class="caption container">
        <div class="row">
          <div class="col s12 m6 l6 Slider-text Slider-top2">
            <h4 class="white-text"> WHY US </h4>
            <h5 class="description">Time to initiate project 1-3 days.</h5>
            <h5 class="description">Get free consultation for your project </h5>
            <h5 class="description">Our experienced head of engineering & operations will assist you to find the best skilled talent for your project.</h5>
            <h5 class="description">Zero termiination costs. </h5>   
            </div>
          <div class="center col s12 m6 l6">
            <img src="assets/images/Site-Merch_Getting-Started_Hero.png" class="responsive-img Slider3-img">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item valign-wrapper lime white-text" href="#four!">
      <div class="caption container">
        <div class="row">
          <div class="col s12 m6 l6 Slider-text Slider-top Slider-qty Qty-text">
            <h4 class="white-text"> Quality guranteed</h4>
            <h5 class="description">We give you quality or money back.</h5>
            <h5 class="description">Failure rates are very low as we have already the top talent & skills.</h5>
          </div>
          <div class="center col s12 m6 l6 Qty-img">
            <img src="assets/images/SageMaker_Hero.png" class="responsive-img Slider4-img">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item valign-wrapper lime white-text" href="#four!">
      <div class="caption container">
        <div class="row">
          <div class="col s12 m6 l6 Slider-text Slider-top">
            <h4 class="white-text"> Full transparency </h4>
            <h5 class="description">The full transparency allows you to monitor your project with our project tracking tool</h5>
            <h5 class="description">We have a dedicated 24/7 VIP support </h5>
            <h5 class="description">Improved billing options </h5>
          </div>
          <div class="center col s12 m6 l6">
            <img src="assets/images/SageMaker_Hero.png" class="responsive-img Slider5-img">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hide-on-small-only">
  <mat-chip-list>
  <mat-chip (click)="openForm()">Query Form</mat-chip>
</mat-chip-list>
</div>
</section>