<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col l12 collapse what">
        <h2 class="center">UX & UI DESIGN</h2><hr>
        <p class="header-p center">Adding life to Software by creating meaningful UX / UI Design</p>
        <div class="row">
          <div class="col s12 m12 l6">
            <ul class="collapsible popout ">
              <li>
                    <div class="collapsible-header">
                      <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>RESEARCH</b></h5><hr>
                          <p class="header-p">Goal Analysis, Personas, Workflows & Competitor Benchmarking</p>
                        </div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2">
                          <img src="assets/images/icon/RESEARCH.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">It includes Requirement Gathering & Analysis, Mapping - User Needs & Expectations, Business Goals, Target Platforms, Competitors, etc. then create scope definition.</p>
                        </div>
                      </div>
                    </div>
                </li><br>
                <li>
                      <div class="collapsible-header">
                        <div class="row">
                          <div class="center col s12 m12 l12">
                            <h5><b>USER EXPERIENCE (UX) DESIGN</b></h5><hr>
                            <p class="header-p">Information Architecture, Interaction Design, Wireframing / Prototyping, Navigation Design</p>
                          </div>
                        </div>
                      </div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="center col s12 m12 l2">
                            <img src="assets/images/icon/USER-EXPERIENCE-DESIGN.png" class="responsive-img">
                          </div>
                          <div class="col s12 m12 l10">
                            <p class="body-p">User experience is about more than just how easy the application is to use and how nice it looks. UX spans the range of visual design, content, interaction design, navigation, features and context to deliver a satisfying interaction and transaction experience for the user.</p>
                          </div>
                        </div>
                      </div>
                  </li><br>
                  <li>
                      <div class="collapsible-header">
                        <div class="row">
                          <div class="center col s12 m12 l12">
                            <h5><b>USER INTERFACE (UI) DESIGN</b></h5><hr>
                            <p class="header-p">User-Centred, Intuitive Graphical User Interface Design</p>
                          </div>
                        </div>
                      </div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="center col s12 m12 l2">
                            <img src="assets/images/icon/USER-INTERFACE-DESIGN.png" class="responsive-img">
                          </div>
                          <div class="col s12 m12 l10">
                            <p class="body-p">First Impression is everything. We create visual magic by blending colors, illustrations and typography - adhering to Brand / Style Guidelines of company.</p>
                          </div>
                        </div>
                      </div>
                  </li><br>
                  <li>
                      <div class="collapsible-header">
                        <div class="row">
                          <div class="center col s12 m12 l12">
                            <h5><b>BRAND DESIGN</b></h5><hr>
                            <p class="header-p">Branding & Identity</p>
                          </div>
                        </div>
                      </div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="center col s12 m12 l2">
                            <img src="assets/images/icon/BRAND-DESIGN.png" class="responsive-img">
                          </div>
                          <div class="col s12 m12 l10">
                            <p class="body-p">Your brand is your business. We design visual systems that expresses your business & its values. It includes:</p>
                            <div class="row">
                              <div class="col s12 m12 l12">
                                <ol>
                                  <li>Brand Strategy - Brand Positioning, Brand Name, Brand Architecture, Tone of Voice</li>
                                  <li>Core Identity - Brand Identity Design, Logo Design, Brand Visual Language, Brand / Style Guidelines</li>
                                  <li>Marketing Collateral - Packaging Design, Brand Campaigns, Print & Publication Design, Space and Retail Design, etc.</li>
                                </ol>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li><br>
                </ul>
              </div>
              <div class="col s12 m12 l6">
                <ul class="collapsible popout ">
                  <li>
                      <div class="collapsible-header">
                        <div class="row">
                          <div class="center col s12 m12 l12">
                            <h5><b>USABILITY TESTING</b></h5><hr>
                            <p class="header-p">User Research, Usability & Accessibility Compliance, Heuristics Evaluation, Eye Tracking</p>
                          </div>
                        </div>
                      </div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="center col s12 m12 l2">
                            <img src="assets/images/icon/USABILITY-TESTING.png" class="responsive-img">
                          </div>
                          <div class="col s12 m12 l10">
                            <p class="body-p">Our approach for Usability Testing is experiential. We design scenarios and experiment with actual users from the target industry. We use a variety of tools to test usability of products. Feedback is then provided to the design teams to refine and finalize product designs.</p>
                          </div>
                        </div>
                      </div>
                  </li><br>
                  <li>
                      <div class="collapsible-header">
                        <div class="row">
                          <div class="center col s12 m12 l12">
                            <h5><b>PRODUCT REDESIGN SERVICES</b></h5><hr>
                            <p class="header-p">Enhancing Existing UI / UX, Fill Current Gaps, Overcome Current Challenges</p>
                          </div>
                        </div>
                      </div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="center col s12 m12 l2">
                            <img src="assets/images/icon/PRODUCT-REDESIGN-SERVICES.png" class="responsive-img">
                          </div>
                          <div class="col s12 m12 l10">
                            <p class="body-p">Here first, we analyze your existing product, identify usability / accessibility compliance issues, find out challenges & gaps in current UI / UX. Then create new UI / UX design as per assessment report created & current trends, do usability testing & refine it further based on feedback from testing team.</p>
                          </div>
                        </div>
                      </div>
                  </li><br>
                  <li>
                      <div class="collapsible-header">
                        <div class="row">
                          <div class="center col s12 m12 l12">
                            <h5><b>FRONT END DEVELOPMENT</b></h5><hr>
                            <p class="header-p">Pixel Perfect, Responsive (Multi-Channel & Cross-Platform) Front End</p>
                          </div>
                        </div>
                      </div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="center col s12 m12 l2">
                            <img src="assets/images/icon/FRONT-END-DEVELOPMENT.png" class="responsive-img">
                          </div>
                          <div class="col s12 m12 l10">
                            <p class="body-p">The front-end is the first thing that a user will see and interact with. Using the latest technologies, we make sure the design is translated into a functioning code at the pixel level. We code strictly in accordance with current standards and support you during an integration with the back-end system.</p>
                          </div>
                        </div>
                      </div>
                  </li><br>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
