<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col l12 collapse what">
        <h2 class="center">SOFTWARE CONSULTING</h2><hr>
        <p class="header-p center">We connect strategy, technology, and design to deliver business-changing results</p>
          <div class="row">
            <div class="col s12 m12 l12">
              <ul class="collapsible popout ">
                <li>
                      <div class="collapsible-header">
                        <div class="row">
                          <div class="center col s12 m12 l12">
                            <h5><b>DIGITAL STRATEGY</b></h5><hr>
                            <p class="header-p">Digital Readiness Assessment, Digital Transformation Roadmap & Execution Plan</p>
                          </div>
                        </div>
                      </div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="center col s12 m12 l2">
                            <img src="assets/images/icon/DIGITAL-STRATEGY.png" class="responsive-img">
                          </div>
                          <div class="col s12 m12 l10">
                            <p class="body-p">First, we will assess your organization's level of digital readiness to ensure right direction & steps, avoid potential pitfalls when leveraging your digital strategy. We then begin with Business Requirements Document (BRD), Software Requirements Specification (SRS) & Plan which will have definite effort estimation & timeline with clear expected results / milestones.</p>
                          </div>
                        </div>
                      </div>
                  </li><br>
                  <li>
                      <div class="collapsible-header">
                        <div class="row">
                          <div class="center col s12 m12 l12">
                            <h5><b>USER EXPERIENCE STRATEGY</b></h5><hr>
                            <p class="header-p">Creative, User Experience & User Research</p>
                          </div>
                        </div>
                      </div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="center col s12 m12 l2">
                            <img src="assets/images/icon/USER-EXPERIENCE-STRATEGY.png" class="responsive-img">
                          </div>
                          <div class="col s12 m12 l10">
                            <p class="body-p">Regardless of screen, device or channel - our UI / UX specialists create visually stunning, functional and user friendly UI / UX designs as per your brand identity. This activity compromises of 3 phases -   1)   Analysis   2)   Design 3)   Delivery.</p>
                            <div class="row">
                              <div class="col s12 m12 l12">
                                <ol>
                                  <li>In Analysis - We do Requirement Analysis, Scope Definition, User Profiling, Brainstorming & Pre-design Usability Testing</li>
                                  <li>In Design - We create Workflow Design, Information Architecture, Graphic User Interface, Visual Design & Typography</li>
                                  <li>In Delivery - We do Prototyping, Design Usability Testing, Responsive Design, Standardization & SEO</li>
                                </ol>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li><br>
                  <li>
                      <div class="collapsible-header">
                        <div class="row">
                          <div class="center col s12 m12 l12">
                            <h5><b>TECHNOLOGIES / PLATFORMS / INFRASTRUCTURE SELECTION</b></h5><hr>
                            <p class="header-p">Define Technology Stack & Deployment Environment</p>
                          </div>
                        </div>
                      </div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="center col s12 m12 l2">
                            <img src="assets/images/icon/TECHNOLOGIES-PLATFORMS-INFRASTRUCTURE-SELECTION.png" class="responsive-img">
                          </div>
                          <div class="col s12 m12 l10">
                            <p class="body-p">We decide technology stack by analyzing,</p>
                            <div class="row">
                              <div class="col s12 m12 l12">
                                <ol>
                                  <li>Type of application (Web, Cloud, Mobile OR Desktop), Volume of end users & how they are going to access & with what kind of infrastructure</li>
                                  <li>Your existing Infrastructure, Current Technology Stack in Company, Current IT Staffs expertise, etc.</li>
                                  <li>Budget, Maintainability, Migration of Existing Data, Security Concerns, etc.</li>
                                  <li>Most cutting edge available technology stacks</li>
                                </ol>
                              </div>
                            </div>
                      </div>
                        </div>
                      </div>
                  </li><br>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
