<section>
  <div class="container-fluid">
    <div class="row details">
      <div class="col l12 collapse what">
        <h2 class="center">WEB DEVELOPMENT</h2><hr>
        <p class="header-p center">We believe that Software Product must SOLVE problem(s)</p>
        <div class="row">
          <div class="col l6">
            <ul class="collapsible popout ">
              <li>
                <div class="collapsible-header">
                  <div class="row">
                    <div class="center col l12">
                      <h5><b>CORE SERVICES</b></h5><hr>
                      <p class="header-p">Custom Application Development, Re-Engineering / Migration, Porting, Upgradation / Enhancement, Integration</p>
                    </div>
                  </div>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="center col s12 m12 l2">
                      <img src="assets/images/icon/Core-Services.png" class="responsive-img">
                    </div>
                    <div class="col s12 m12 l10">
                      <p class="body-p">NeoSOFT provides Application Development & Maintenance (ADM) services to its clients across the globe to effectively develop, maintain and run their mission critical applications. It includes:
                      </p><br>
                      <ol>
                        <li>Custom Application Development</li>
                        <li>Application Re-engineering / Migration (Lower Version to Higher Version)</li>
                        <li>Application Porting (From one technology stack to other technology stack)</li>
                        <li>Application Integration</li>
                        <li>Legacy Application Upgradation, Enhancement & Performance Tuning</li>
                        <li>Application Sustenance & Support</li>
                        <li>Cloud Migration</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </li><br>
              <li>
                <div class="collapsible-header">
                  <div class="row">
                    <div class="center col s12 m12 l12">
                      <h5><b>ENTERPRISE BUSINESS SOLUTIONS</b></h5><hr>
                      <p class="header-p">Internet as well as Intranet Solutions (Custom as well as readymade Business Solutions Customization / Implementation)</p>
                    </div>
                  </div>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="center col s12 m12 l2">
                      <img src="assets/images/icon/ENTERPRISE-BUSINESS-SOLUTIONS.png" class="responsive-img">
                    </div>
                    <div class="col s12 m12 l10">
                      <p class="body-p">We transform the way Small, Medium & Large Enterprises conduct their business with Customers / Clients, Vendors / Suppliers, Partners and Employees in this digital age. Our offerings include:</p>
                      <div class="row">
                        <div class="col s12 m12 l12">
                          <ol>
                            <li>Customer Relationship Management System (CRM)</li>
                            <li>Human Resource Management System (HRMS)</li>
                            <li>Business Process Management (BPM)</li>
                            <li>Customer Portal</li>
                            <li>Partner Portal</li>
                            <li>Purchase / Vendor Portal</li>
                        <!--</ol>
                        </div>
                        <div class="col l6">
                          <ol>-->
                            <li>Sales & Marketing Automation Systems</li>
                            <li>Finance & Accounting</li>
                            <li>Inventory Management</li>
                            <li>Document Management System (DMS)</li>
                            <li>Business Intelligence & Analytics</li>
                            <li>Management Information System (MIS)</li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li><br>
              <li>
                <div class="collapsible-header">
                  <div class="row">
                    <div class="center col s12 m12 l12">
                      <h5><b>CONTENT MANAGEMENT SYSTEMS</b></h5><hr>
                      <p class="header-p">Enterprise Portals & Digital Customer Experience Platforms (Custom as well as readymade CMS Customization / Implementation)</p>
                    </div>
                  </div>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="center col s12 m12 l2">
                      <img src="assets/images/icon/Content-Management-System.png" class="responsive-img">
                    </div>
                    <div class="col s12 m12 l10">
                      <p class="body-p">Today, Businesses are trying to “do more with less” and provide right information / content to customers, vendors / partners, and internal operations. As the digital footprint grows exponentially – via different platforms, different devices - it has become costlier and challenging to maintain, update and make the content available at right time to take informed business decisions. We understand this challenge and can help you to solve these real business problems by leveraging readymade tools / solutions to manage information / content cost-effectively and efficiently, and by retrieving the right information for business. CMS is not just a tool for managing online content, when it is used correctly, it can solve all the pain points that come up during the end user journey and deliver a perfect digital experience to end user.</p>
                      <p class="body-p">Our CMS Solutions includes:</p>
                      <div class="row">
                        <div class="col s12 m12 l12">
                          <ol>
                            <li>Mobile First UX / UI</li>
                            <li>Multilingual</li>
                            <li>Content Management</li>
                            <li>Workflow Management</li>
                            <li>Multisite</li>
                            <li>Social Media Integration</li>
                            <!--</ol>
                          </div>
                          <div class="col l6">
                            <ol>-->
                            <li>Rich Media Management</li>
                            <li>Files / Documents Management</li>
                            <li>Access Control</li>
                            <li>Visitor Engagement</li>
                            <li>Community Management</li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li><br>
              <li>
                <div class="collapsible-header">
                  <div class="row">
                    <div class="center col s12 m12 l12">
                      <h5><b>E-COMMERCE SOLUTIONS</b></h5><hr>
                      <p class="header-p">
                        B2C, B2B, C2C & C2B Solutions (Custom as well as readmade E-Commerce Platform Customization / Implementation)
                      </p>
                    </div>
                  </div>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="center col s12 m12 l2">
                      <img src="assets/images/icon/Ecommerce-Solutions.png" class="responsive-img">
                    </div>
                    <div class="col s12 m12 l10">
                      <p class="body-p">We build and manage engaging E-Commerce experiences and operations globally. Our E-Commerce Solutions includes:</p><br>
                      <div class="row">
                        <div class="col s12 m12 l12">
                          <ol>
                            <li>Custom E-Commerce Application Development - B2B, B2C, C2C & C2B</li>
                            <li>Customization, Enhancement, Implementation & Deployment - of ready E-Commerce Solutions like Magento, osCommerce, WooCommerce, nopCommerce, OpenCart, Shopify, AspDotNetStorefront, etc.</li>
                            <li>Merchandising Solutions</li>
                            <li>Mobile Commerce Solutions</li>
                            <li>Social Commerce Solutions</li>
                            <li>Market Place & Vendor Management</li>
                            <!--</ol>
                          </div>
                          <div class="col s12 m12 l6">
                            <ol>-->
                            <li>Point-of-Sales (POS) Systems Integration</li>
                            <li>Omni-Channel Strategy</li>
                            <li>Inventory Management</li>
                            <li>Multisite, Multicurrency & Multilingual Solutions</li>
                            <li>System Integration - with ERP, CRM, Social Media, Shipping / Payment Gateways</li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li><br>
            </ul>
          </div>
          <div class="col s12 m12 l6">
            <ul class="collapsible popout">
              <li>
                <div class="collapsible-header">
                  <div class="row">
                    <div class="center col s12 m12 l12">
                      <h5><b>E-GOVERNANCE SOLUTIONS</b></h5><hr>
                      <p class="header-p">Implementation of government services in India & Abroad</p>
                    </div>
                  </div>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="center col s12 m12 l2">
                      <img src="assets/images/icon/E-GOVERNANCE-SOLUTIONS.png" class="responsive-img">
                    </div>
                    <div class="col s12 m12 l10">
                      <p class="body-p">We serve state as well as central governments in India & in other countries, public sector units, different government / semi-government bodies – offer them technologies based governance solutions & services. It helps to improve transparency, efficiency and effectiveness of different policies & procedures, enabling "Smart Governance” in different areas that are specifically connected to citizens. It mainly comprises of Pushing Information over the Internet, 2-way communication between Government & Citizen / Stakeholders, Conducting Different Transactions, Transparency in Different Workflows, etc.</p>
                    </div>
                  </div>
                </div>
              </li><br>
              <li>
                <div class="collapsible-header">
                  <div class="row">
                    <div class="center col s12 m12 l12">
                      <h5><b>MIDDLEWARE DEVELOPMENT</b></h5><hr>
                      <p class="header-p">API, Web Services, Micro Services - Development.</p>
                    </div>
                  </div>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="center col s12 m12 l2">
                      <img src="assets/images/icon/MIDDLEWARE-DEVELOPMENT.png" class="responsive-img">
                    </div>
                    <div class="col s12 m12 l10">
                      <p class="body-p">Today, different applications need to connect with external systems using Micro Services / Web Services / APIs. We build Micro Services / Web Services / APIs for connecting your custom, PaaS or SaaS software to external applications, devices and IoT systems. Our middleware solutions include logging, error handling and transaction monitoring, and ensure your SOA and ESB implementations start off on solid footing.</p>
                    </div>
                  </div>
                </div>
              </li><br>
              <li>
                <div class="collapsible-header">
                  <div class="row">
                    <div class="center col s12 m12 l12">
                      <h5><b>WEB 2.0 / 3.0 SITES</b></h5><hr>
                      <p class="header-p">
                        Social Networks Development, Wikis, Podcasts, 2D/3D Portals, Co-creative web, Interoperable profiles, Integrated Games</p>
                    </div>
                  </div>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="center col s12 m12 l2">
                      <img src="assets/images/icon/web2.0.png" class="responsive-img">
                    </div>
                    <div class="col s12 m12 l10">
                      <p class="body-p">Web 2.0/3.0 Sites are primary responsible to shift web from informational medium to service oriented, community based medium and share the same technology pillars of Semantic tagging and microformats. Forcing e-businesses to restructure their business process, web 3.0 applications help to retain customers and gain competitive advantages.</p>
                    </div>
                  </div>
                </div>
              </li><br>
              <li>
                <div class="collapsible-header">
                  <div class="row">
                    <div class="center col s12 m12 l12">
                      <h5><b>PORTALS</b></h5><hr>
                      <p class="header-p">
                       The gateway to Information across the Enterprise</p>
                    </div>
                  </div>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="center col s12 m12 l2">
                      <img src="assets/images/icon/Portal.png" class="responsive-img">
                    </div>
                    <div class="col s12 m12 l10">
                      <p class="body-p">NeoSOFT offers full cycle Portal development services for information delivery, communication, collaboration and automation of business processes through one or more interconnected applications. We build portal solutions with the goal of putting power into the hands of your users - Employees, Customers / Clients, Partners, Vendors / Suppliers, etc. and providing them a gateway to information / content, transactions, and business processes. No matter where your content / information / data reside, we can make it available to your users. It includes:</p><br>
                      <div class="row">
                        <div class="col s12 m12 l12">
                          <ol>
                            <li>Customer Portal</li>
                            <li>Vendor / Supplier Portal</li>
                            <li>Sales / Marketing Automation Portal</li>
                            <li>Employee Portal</li>
                          </ol>					      									
                        </div>					      								
                      </div>
                    </div>
                  </div>
                </div>
              </li><br>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
