<section>
  <div class="container-fluid">
    <div class="row details-block-chain">
      <div class="col s12 m12 l12 collapse what">
        <h2 class="center">BLOCKCHAIN</h2><hr>
        <p class="header-p center">Deciphering Blockchain and building sustainable and robust custom solutions</p>
        <div class="row">
          <div class="col s12 m12 l6">
            <ul class="collapsible popout ">
              <li>
                    <div class="collapsible-header">
                      <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>BLOCKCHAIN APPLICATION DEVELOPMENT</b></h5><hr>
                          <p class="header-p">With competencies to harness the capacity of this new revolutionary technology, we build cutting-edge futuristic blockchain applications for businesses worldwide.</p>
                        </div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2">
                          <img src="assets/images/icon/Blockchain_appDev.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">Blockchain application development is gaining traction across several industries. NeoSOFT experts help you while you decide to leverage the blockchain technology. We discuss and build roadmaps for a successful blockchain journey. Our blockchain application development services follow the below procedures to deliver a majestic experience.</p>
                          <div class="row">
                            <div class="col s12 m12 l12">
                              <ol>
                                <li> Understand need, devise the roadmap</li>
                                <li>Identify the technology stack that will befit the requirement</li>
                                <li> Work on wireframes and prototypes.</li>
                                <li>Create an eye-catchy UI</li>
                                <li>Build secured and robust applications- Entire development stack, right from UI designs to deploying nods.</li>
                                <li> Beta testing, audits and deployment</li>
                              </ol>
                            </div>		
                          </div>	
                        </div>
                      </div>
                    </div>
                </li><br>
                <li>
                    <div class="collapsible-header">
                      <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>ADVISORY AND CONSULTING SERVICES</b></h5><hr>
                          <p class="header-p">We understand the nuances of your business before proposing the right Blockchain solution for efficient and beneficial business transformation.</p>
                        </div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2">
                          <img src="assets/images/icon/Advisory&consultant.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">A masterpiece is built only if it is strategically and thoughtfully designed and devised. Our blockchain advisory and consulting services are aimed at providing clients with appropriate decentralized apps and blockchain architecture that will meet their business goals. Using appropriate use cases, we then further get onto designing the prototypes.</p>
                          
                    </div>
                      </div>
                    </div>
                </li><br>
                <li>
                    <div class="collapsible-header">
                      <div class="row center">
                        <div class="col s12 m12 l12">
                          <h5><b>ENTERPRISE SOLUTIONS</b></h5><hr>
                          <p class="header-p">After witnessing the potential of this disruptive platform in the market, enterprises in leading industry verticals have resorted to blockchain technology.</p>
                        </div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="col s12 m12 l2 collap-image">
                          <img src="assets/images/icon/enterprice_solution.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                        <p class="body-p">Leveraging our depth of expertise over blockchain frameworks, we collaborate with enterprises to design and architect custom blockchain solutions. We engage the stakeholders to get a complete low-down on the existing systems and derive solutions which are robust and ultra-secure.<br>Enterprises enjoy the below listed benefits from our blockchain solutions</p>
                        <div class="row">
                          <div class="col s12 m12 l2">
                            <ol>
                              <li>Reduced cost/time for transactions</li>
                              <li>Improves product and security of the entire system</li>
                              <li>Increases transparency and tracks fraudulent activity.</li>
                              <li>Improves customer loyalty</li>
                            </ol>
                          </div>
                        </div>
                    </div>
                      </div>
                    </div>
                </li><br>
              </ul>
            </div>
            <div class="col s12 m12 l6">
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header">
                      <div class="row center">
                        <div class="col s12 m12 l12">
                          <h5><b>BLOCKCHAIN FRAMEWORK</b></h5><hr>
                          <p class="header-p">We specialize in building decentralized, secure and reliable blockchain applications using a wide range of frameworks.</p>
                        </div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2 collap-image">
                          <img src="assets/images/icon/blockchain_framework.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">Blockchain frameworks on which we work:<br>Bitcoin, Ethereum, Hyperledger, Multichain, R3, Corda</p>
                        </div>
                      </div>
                    </div>
                </li><br>
                <li>
                    <div class="collapsible-header">
                      <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>INTEGRATION SERVICES</b></h5><hr>
                          <p class="header-p">Integration is one of the most vital aspects of the blockchain platform. Our experts ensure proper integration of the application with the cloud.</p>
                        </div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2">
                          <img src="assets/images/icon/integration_service.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">Blockchain technology is mostly about distributed databases. Integrating them with the application requires expertise, precision and in-depth understanding of the intricate dimensions. As your blockchain development partner, we provide 2 types of integration services-<br><b>1) Integrate the application with the cloud<br>2) Integrate the existing legacy systems with the new blockchain architecture and use accelerators, to expedite connecting and reconciling with the existing infrastructure.</b></p>
                        </div>
                      </div>
                    </div>
                </li><br>
                <li>
                    <div class="collapsible-header">
                      <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>TESTING SERVICES</b></h5><hr>
                          <p class="header-p">Our blockchain application testing services ensure that all the components work in cohesion and any relative application connected to the blockchain fabric interacts in the desired pattern.</p>
                        </div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2">
                          <img src="assets/images/icon/Testing.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">We follow the best suite of testing approaches that include several paths. Depending on the blockchain application and the platform, we choose a mixed toolset to conduct testing, with a focus on Bitcoin and Ethereum.Blockchain Testing Frameworks: Ethereum Tester, BitconJ, Populus, Truffle, Embark, Hyperledger Composer Standard Testing: Functional Tests, Security Tests, Integration Tests, Contract Tests, Performance Tests, Peer and node tests.</p>
                        </div>
                      </div>
                    </div>
                </li><br>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
