<section class="workWith">
  <div class="container what">
    <h2>We work with</h2>
    <div class="row row-margin">
      <div class="col s12 m4 l3">
        <div class="card horizontal hoverable work-with-icons">
          <div class="card-image">
              <i class="medium material-icons">business</i>
          </div>
          <div class="card-stacked tab-card">
            <div class="card-content">
              <p>Enterprises</p>
            </div>
            </div>
          </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="card horizontal hoverable work-with-icons">
          <div class="card-image">
            <i class="fa fa-id-card-o fa-3x" aria-hidden="true"></i>
            <!--<i class="fa fa-address-card-o fa-3x" aria-hidden="true"></i>
            <i class="medium material-icons">contacts</i>-->
          </div>
          <div class="card-stacked tab-card">
            <div class="card-content">
              <p>Agencies</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="card horizontal hoverable work-with-icons">
          <div class="card-image center">
            <i class="fa fa-rocket fa-3x" aria-hidden="true"></i>
            <!--<i class="medium material-icons">business</i>-->
          </div>
          <div class="card-stacked tab-card">
            <div class="card-content">
              <p>Startups</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>