 
   <!--<mat-toolbar>
   <div class="center"><span>Who we are</span></div>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button  tabIndex="-1"></button>
    </mat-toolbar>
   
  <mat-icon class="btn-right" (click)="onClose()">clear</mat-icon>
  <br/>
  <iframe src="https://www.youtube.com/embed/sJLqZqeWdzo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->

  <div class="responsive-video">
      <iframe src="https://www.youtube.com/embed/sJLqZqeWdzo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

