<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col s12 m12 l12 collapse what">
        <h2 class="center">ANALYTICS & BIG DATA</h2><hr>
        <p class="header-p center">Extract VALUE from data THAT MATTERS</p>
        <div class="row">
          <div class="col s12 m12 l12">
            <ul class="collapsible popout">
              <li>
                    <div class="collapsible-header">
                      <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>ANALYTICS</b></h5><hr>
                          <p class="header-p">Data Science, Data Visualization & Insights</p>
                        </div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="col s12 m12 l2 collap-image">
                          <img src="assets/images/icon/ANALYTICS.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">Large raw data, particularly Big Data, doesn't offer real insights in its unprocessed state, by using the right set of tools & processes, blocks of data can be deconstructed, analyzed & converted into powerful insights. In any Analytics setup, the first step is to capture relevant data. Then, the enterprise has to decide which analytics model suits their business needs the best.</p>
                          <p class="body-p">Our Analytics offerings include:</p>
                          <div class="row">
                            <div class="col s12 m12 l12">
                              <ol>
                                <li>Big Data Analytics / Aggregations</li>
                                <li>Operational Analytics / Aggregations</li>
                                <li>ETL Services</li>
                                <li>Data Science</li>
                              </ol>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </li><br>
                <li>
                    <div class="collapsible-header">
                      <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>BIG DATA</b></h5><hr>
                          <p class="header-p">Consulting, Implementation & Sustenance Services</p>
                        </div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="col s12 m12 l2 collap-image">
                          <img src="assets/images/icon/BIG-DATA.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">Mobile, Internet of Things & Clouds are generating huge amounts of unstructured & untapped data. Harnessing this data requires updating your information architecture, building robust platform - which allow you to collect, analyze, transform, visualize & most importantly, use this data for your different business, customers & market needs.</p>
                          <p class="body-p">Our Big Data offerings include:</p>
                          <div class="row">
                            <div class="col s12 m12 l12">
                              <ol>
                                <li>Design - Big Data Infrastructure</li>
                                <li>Develop & Operationalize - Big Data Infrastructure</li>
                                <li>Maintain & Support - Big Data Infrastructure</li>
                              </ol>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </li><br>
                <li>
                    <div class="collapsible-header">
                      <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>BUSINESS INTELLIGENCE</b></h5><hr>
                          <p class="header-p">Take control of your data and accelerate your business growth</p>
                        </div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="col s12 m12 l2 collap-image">
                          <img src="assets/images/icon/BUSINESS-INTELLIGENCE.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                        <p class="body-p">The success of enterprise is measured by its revenue, profitability and the number of satisfied customers. To achieve these, enterprises need to optimize their internal (i.e. Sales, Purchase, Finance, Operations, HR, etc.) as well as external (i.e. Customers, Vendors, Partners, etc.) business transactions. Our BI solutions help you to extract real insights into your business for improving your internal & external business outcomes.</p>
                        <p class="body-p">Our BI offerings include:</p>
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <ol>
                              <li>BI Consulting & Planning</li>
                              <li>Data Management (Quality, Integration, Standardization, Consolidation)</li>
                              <li>Information Visualization (Unified view, KPIs, Dashboards, Scorecards, Reports, etc.)</li>
                              <li>Information Delivery (Portals, Data Access Controls)</li>
                              <li>Analytics</li>
                            </ol>
                          </div>
                        </div>
                    </div>
                      </div>
                    </div>
                </li><br>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
