<section class="industries">
  <div class="container what">
  <h2>Industries Served</h2>
  <div class="row">
  <div class="col s12 m4 l2">
    <div class="card hoverable industries-card">
      <div class="card-content center ">
        <i class="medium material-icons">monetization_on</i>
        <h6>Banking & Finance</h6>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l2">
    <div class="card hoverable industries-card">
      <div class="card-content center">
        <i class="medium material-icons">shopping_cart</i>
        <h6>Ecommerce & Retail</h6>
      </div>
    </div>
  </div>
 
  
  <div class="col s12 m4 l2">
      <div class="card hoverable industries-card">
        <div class="card-content center">
          <i class="fa fa-graduation-cap fa-4x" aria-hidden="true"></i>
          <!--<i class="medium material-icons">border_color</i>-->
          <h6>Education & Elearning</h6>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l2">
        <div class="card hoverable industries-card">
          <div class="card-content center">
            <i class="fa fa-university fa-3x" aria-hidden="true"></i>
            <!--<i class="medium material-icons">monetization_on</i>-->
              <h6>Government / Semi Government</h6>
          </div>
        </div>
      </div>
  <div class="col s12 m4 l2">
    <div class="card hoverable industries-card">
      <div class="card-content center">
        <i class="medium material-icons">local_hospital</i>
        <h6>Healthcare</h6><br/>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l2">
    <div class="card hoverable industries-card">
      <div class="card-content center">
        <i class="fa fa-umbrella fa-4x" aria-hidden="true"></i>
        <!--<i class="medium material-icons">beach_access</i>-->
        <h6>Insurance</h6><br/>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col s12 m4 l2">
    <div class="card hoverable industries-card">
      <div class="card-content center">
        <i class="medium material-icons">laptop_mac</i>
        <h6>IT</h6>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l2">
    <div class="card hoverable industries-card">
      <div class="card-content center">
        <i class="fa fa-cogs fa-4x" aria-hidden="true"></i>
        <!--<i class="medium material-icons">build</i>-->
        <h6>Manufacturing</h6>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l2">
    <div class="card hoverable industries-card">
      <div class="card-content center">
        <i class="small material-icons">ondemand_video</i>
        <h6>Media & Entertainment</h6>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l2">
    <div class="card hoverable industries-card">
      <div class="card-content center">
        <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
        <!--<i class="small material-icons">library_books</i>-->
        <h6>News & Publication</h6>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l2">
    <div class="card hoverable industries-card">
      <div class="card-content center">
        <i class="fa fa-tags fa-4x" aria-hidden="true"></i>
        <!--<i class="medium material-icons">monetization_on</i>-->
        <h6>Products</h6>
      </div>
    </div>
  </div>
    <div class="col s12 m4 l2">
      <div class="card hoverable industries-card">
        <div class="card-content center">
          <i class="medium material-icons">wifi</i>
          <h6>Telecom</h6>
        </div>
      </div>
    </div>
</div>
</div>
</section>