<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col s12 m12 l12 collapse what">
        <h2 class="center">INTERNET OF THINGS (IOT)</h2><hr>
        <p class="header-p center">Leverage sensor technology through integration with business applications</p>
        <div class="row">
          <div class="col s12 m12 l12">
            <ul class="collapsible popout ">
              <li>
                    <div class="collapsible-header">
                      <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>STRATEGY</b></h5><hr>
                          <p class="header-p">Plan your IoT Solution</p>
                        </div>
                      </div>
                  </div>
                    <div class="collapsible-body">
                      <div class="row">
                      <div class="center col s12 m12 l2">
                          <img src="assets/images/icon/strategy.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">We define the right IoT landscape for you to kick start your IoT journey. A structured approach is taken to understand your business needs & offer quick ramp-up to discover your IoT needs & solutions, accelerating your time to market with low risk and zero lock-in.
                        Here, we Identify business pain points that IoT can resolve, find out Industry insights & benchmark, create IoT roadmap in line with desired business outcomes, define POC plan / technology / platform roadmap.</p>   						
                        </div>
                      </div>
                    </div>
                </li><br>
                <li>
                  <div class="collapsible-header">
                    <div class="row">
                      <div class="center col s12 m12 l12">
                          <h5><b>BUILD</b></h5><hr>
                          <p class="header-p">Devices, Gateways, Cloud Platforms, Applications & Analytics</p>
                        </div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2">
                          <img src="assets/images/icon/build.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">NeoSOFT has developed several domain specific solutions that have helped our clients across various industries like Healthcare, Automotive, Retail, Energy, Manufacturing, Construction, BFSI, Home Automation, etc. to leverage potential benefits of IoT technologies and M2M communication using internet protocol. Under the IoT portfolio, we have expertise on various technologies like:</p>
                          <div class="row">
                            <div class="col s12 m12 l12">
                              <ol>
                                <li><b>Machine to machine</b> – collect information through meters or sensors and communicate through wired or wireless devices network</li>
                                <li><b>sensors</b> – subsequent actions through sensors or actuators take place based on certain environmental changes</li>
                                <li><b>smart meters</b> – track resource consumption and provide analysis for better decision making</li>
                                <li><b>connected machines</b> – automate processes through an intelligent network of devices and alert the users on reaching preset values</li>
                              </ol>
                            </div>
                          </div>
                          <p class="body-p"><b>Our offering includes,</b></p>
                          <div class="row">
                            <div class="col s12 m12 l12">
                              <ol>
                                <li><b>IoTization</b> – Device, Gateway, Connectivity, Security - Enabling devices to sense, communicate, network & produce information, and sending it to cloud securely.</li>
                                <li><b>IoT Platform</b> – Data Storage, Device Management, Data Science Workbench</li>
                                <li>IoT Applications and Analytics</li>
                                <li>Integration of IoT Applications with rest of IT landscape</li>
                              </ol>
                            </div>
                          </div>
                    </div>
                      </div>
                    </div>
                </li><br>
                <li>
                  <div class="collapsible-header">
                    <div class="row">
                      <div class="center col s12 m12 l12">
                        <h5><b>RUN</b></h5><hr>
                        <p class="header-p">IoT Device / Platform Management, IoT Data Review, Provisioning, Measuring & Monitoring - IoT Solutions</p>
                        </div>
                      </div>
                  </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2">
                          <img src="assets/images/icon/run.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">To run an IoT system smoothly, a properly managed service is required in each layer of the IoT ecosystem. IoT managed services allow businesses to take a proactive approach towards operations, maintenance and predict machine downtime in advance to avoid sudden breakdown and failures. Different managed services include,</p>
                          <div class="row">
                            <div class="col s12 m12 l12">
                              <ol>
                                <li>IoT Device Management - Updates / Security Patches, Replacement, Monitoring</li>
                                <li>Platform Management - Usage monitoring, performance tuning & optimization</li>
                                <li>Data Review - Monitoring different data patterns, measuring accuracy of data models, data cleaning & reports generation</li>
                              </ol>
                            </div>
                          </div>
                    </div>
                      </div>
                    </div>
                </li><br>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
